astroid==3.2.2
base58==2.1.1
certifi==2024.6.2
charset-normalizer==3.3.2
dill==0.3.8
ecdsa==0.19.0
idna==3.7
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
platformdirs==4.2.2
Pygments==2.18.0
requests==2.32.3
rich==13.7.1
ruff==0.4.7
six==1.16.0
tomlkit==0.12.5
urllib3==2.2.1
vulture==2.11
